body {
	font-size: 16px;
	font-family: Lato, sans-serif;
	background: $base-color;

	::selection {
	color: white;
	background: $a-color;
	}

}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

a {
	text-decoration: none;
	color: $a-color;

	&::selection {
		color: #333333;
	}

	article {
		color: $a-color;
	}
}

hr {
		width: 50%;
}