main {
	width: 100%;
	margin: auto;
	padding-top: 3rem;
}

header{
	width: 100%;
	margin: auto;
	height: 100vh;
}

.santiago {
	margin: 3%;
	width: 40%;
	max-width: 650px;
	float: left;
}

.bio {
	margin: 3%;
	width: 40%;
	max-width: 650px;
	float: left;
}

.projects {
	width: 80%;
	margin: auto;

	article {
		float: left;
		width: 40%;
		max-width: 650px;
		margin: 3%;

		figure {
			width: 40%;
		}
	}
}

.social {
	display: flex;
	flex-grow: 1;
}


.current {
	margin-bottom: 70px;
}

.icon {
	height: 1rem;
	width: auto;
	margin: 0 5px;
}

section {
	width: 100%;
}

article {
	width: 60%;
	margin: auto;
}

figure {
	margin: auto;
}

img {
	width: 100%; 
}

.clearfix {
	overflow: auto;
}

ul {
	width: 100%;
	text-align: center;
	padding-left: 0;
}

.contact {
	width: 100%;
	p {
		text-align: center;
	}
}