@media screen and (max-width: 1200px) {
	* {
		font-size: 14px;
	}

	header {
		height: 700px;
	}
	.santiago {
		float: none;
		margin: auto;
		width: 25%;
		min-width: 300px;
	}
	.bio {
		float: none;
		margin: auto;
		width: 90%;
	}

	.projects {
		width: 100%;
		article {
			float: none;
			margin: auto;
			width: 90%;
			figure {
				width: 25%;
				min-width: 200px;
			}
		}
	}

	.current {
		margin-top: 50px;
		width: 100%;
		article {
			width: 90%;
		}
	}
}